# IDE
.vscode
.idea

# Node dependency directories
node_modules/
*/node_modules

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# macOS files
.DS_Store

#ignore all files in temp folder
temp/

# Hide all note files
*/CHECK_IF_REMOVE_NODE_MODULES.txt
CHECK_IF_REMOVE_NODE_MODULES.txt

# incomplete Directories